{% block body %}

<footer class="container pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-md-12">

      <img src="/static/img/sicoobb.png" class="img-fluid" alt="...">
      <img src="/static/img/denatran.png" class="img-fluid" alt="...">
      <img src="/static/img/detran-sc.png" class="img-fluid" alt="...">

    </div>

</footer>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2018 - 2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Veja também</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" target="_blank" href="https://www.creditran.com.br/">Creditran - Sicoob</a></li>
              <li><a class="text-muted" href="#">propaganda 2</a></li>
              <li><a class="text-muted" href="#">propaganda 3</a></li>
              <li><a class="text-muted" href="#">propaganda 4</a></li>
              <li><a class="text-muted" href="#">propaganda 5</a></li>
              <li><a class="text-muted" href="#">propaganda 6</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Fontes</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" target="_blank" href="https://www.sc.gov.br/">Governo de Santa Catarina</a></li>
              <li><a class="text-muted" target="_blank" href="https://portalservicos.denatran.serpro.gov.br/#/">Denatran</a></li>
              <li><a class="text-muted" target="_blank" href="http://www.detran.sc.gov.br/">Detran</a></li>
              <li><a class="text-muted" target="_blank" href="https://www.adotesc.com.br/">Adotesc</a></li>


            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Sobre</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/contato">Contato</a></li>
              <li><a class="text-muted" href="/sobre">Equipe</a></li>
              <li><a class="text-muted" href="/contato">Localização</a></li>
              <li><a class="text-muted" href="/sobre">Privacidade</a></li>
              <li><a class="text-muted" href="/sobre">Termos</a></li>
            </ul>
          </div>
        </div>
      </footer>

{% endblock %}
